{% extends 'base.html' %}

{% block content %}
    <br>

    <div class="container mx-auto" style="width: 1000px;">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ user.profile.profile_pic.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ fullname }}
                            {% if request.user == user %}
                                <a data-toggle="tooltip" title="Edit Profile"><i class="fas fa-pencil-alt"></i></a>
                            {% endif %}
                        </h5>
                        <p class="card-text">@{{ username }}</p>
                        <p class="card-text">{{ user.profile.location }}</p>
                        <p class="card-text">Followers: {{ followers_count }} | Following: {{ following_count }}</p>
                        {% if request.user != user and request.user.is_authenticated %}
                            {% if follow_status %}
                                <p>You are following @{{ username }}</p>
                                <p><a href="{% url "profile:unfollow" username=username %}">
                                    <button class="btn btn-danger">Unfollow</button>
                                </a></p>
                            {% else %}
                                <p><a href="{% url "profile:follow" username=username %}">
                                    <button class="btn btn-success">Follow</button>
                                </a></p>
                            {% endif %}
                        {% endif %}
                        <p class="card-text">Snipps: {{ blogs_count }} </p>
                        <p> Snipp <i class="fas fa-eye"></i> {{ final_views_count }}</p>
                        <p class="card-text">Likes: {{ likes_count }} </p>

                    </div>
                </div>
            </div>
            <div class="col-8">
                {{ fullname }}'s Snippcode:
                {% for blog in blogs %}
                    <div class="card w-100">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'blog:detail' pk=blog.id %}">{{ blog.title }}</a>
                            </h5>
                            <p class="alert alert-success">{{ blog.code_description }}</p>
                            <p class="card-text">{{ blog.body|safe }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
