<style>
/**
 * Footer Styles
 */

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #31BBEE;
  text-align: center;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
</style>
<!-- Footer -->
<br>

<div class="footer">

    <div style="color: white;" class="footer-copyright text-center py-3">
        Made with <span style="color: #e25555;">&hearts;</span> and ☕ in Nepal.<br><br>
        By: <a href="https://github.com/akashadhikari/"> Akash Adhikari</a>
    </div>


    <!-- Copyleft -->
    <div style="color: white;" class="footer-copyleft text-center py-3">Copyleft <span class="copyleft">&copy;</span> 2018

    </div>
</div>