{% extends 'base.html' %}


{% block content %}<br>

    <div class="container mx-auto" style="width: 1000px">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">
                    <div class="row">
                        <div class="col">
                            <p>By: <a href="{% url 'profile:profile' username=blog.author %}">{{ author }}</a></p>
                            <hr>
                            <h1>{{ blog.title }}</h1>
                        </div>
                        <div class="col-2" style="color: red">
                            {% if request.user.username == blog.author.username %}
                                <a style="color: #3B5998" href="{% url 'blog:edit' pk=blog.id %}">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>&nbsp
                                <a style="color: unset" href="{% url 'blog:list' %}"
                                   data-toggle="modal" data-target="#exampleModal">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            {% endif %}
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel" style="color: black">
                                                Delete
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="color: black; font-size: 1rem">
                                            Are you sure you want to delete?
                                            The item will not be recovered once you delete it.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close
                                            </button>
                                            <a href="{% url 'blog:delete' pk=blog.id %}" class="btn btn-danger"
                                               role="button">
                                                Delete anyway
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </h5>
                <p class="card-text">{{ blog.body }}</p>
                <hr>
                <p>Posted about {{ blog.created_at }}</p>
                <p><i class="fas fa-eye"></i> Views: 20</p>
                {% if request.user.is_authenticated %}
                    <a data-toggle="modal" data-target="#likedByThesePeople" href="#">{{ like_count }}
                        {% if like_count == 1 %}like{% else %}likes{% endif %}</a>.


                    <!-- Modal -->
                    <div class="modal fade" id="likedByThesePeople" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Liked by</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% for liker in likers_list %}
                                    <h5><a href="{% url 'profile:profile' username=liker %}">{{ liker }}</a></h5>
                                        <hr>
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if like.user == request.user %}
                        <p><a href="{% url 'blog:unlike' pk=blog.id %}">Unlike</a></p>
                    {% else %}
                        <p><a href="{% url 'blog:like' pk=blog.id %}">Like</a></p>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
