{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <div class="container"><br>
        <div class="row">
            <div class="col-9">
                <br>
                <h3>Add Quick Snippet.</h3>
                <br>

                {% include 'blog/modal.html' %}

                <form method="POST">{% csrf_token %}
                    {{ blog_form.as_p }}
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>

            </div>

            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           style="width: 127px;"
                           aria-controls="home" aria-selected="true">Trending <i class="fas fa-bolt"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           style="width: 127px;"
                           aria-controls="profile" aria-selected="false">Newest <i class="far fa-clock"></i></a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        {% for trend in trending_list %}
                            {% if trend.visibility %}
                            <div class="card w-100">
                                <div class="card-body" style="height: 75px">
                                    <h5 class="card-title">
                                        <a style="font-size: 15px" href="{% url 'blog:detail' pk=trend.id %}">
                                            {{ trend.title|truncatechars:30 }}
                                        </a>
                                        {#                                        <i style="font-size: 10px"class="fas fa-eye"></i>#}
                                        {#                                        <a style="font-size: 10px">33</a>#}
                                        <br>
                                        {% if trend.author %}
                                            <a style="font-size: 12px">{{ trend.created_at|naturaltime }} by</a>
                                            <a href="{% url 'profile:profile' username=trend.author %}"
                                               style="font-size: 12px">
                                                {% if request.user == trend.author %} you {% else %}
                                                    {{ trend.author }}{% endif %}
                                            </a>
                                        {% else %}
                                            <a style="font-size: 12px">{{ trend.created_at|naturaltime }} by: Jaqen
                                                H'gar </a>
                                            </a>
                                        {% endif %}
                                    </h5>

                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        {% for blog in blogs %}
                            <div class="card w-100">
                                <div class="card-body" style="height: 75px">
                                    <h5 class="card-title"><a style="font-size: 15px"
                                                              href="{% url 'blog:detail' pk=blog.id %}">{{ blog.title|truncatechars:30 }}</a><br>
                                        {% if blog.author %}
                                            <a style="font-size: 12px">{{ blog.created_at|naturaltime }} by</a>
                                            <a href="{% url 'profile:profile' username=blog.author %}"
                                               style="font-size: 12px">
                                                {% if request.user == blog.author %} you {% else %}
                                                    {{ blog.author }}{% endif %}
                                            </a>
                                        {% else %}
                                            <a style="font-size: 12px">{{ blog.created_at|naturaltime }} by: Jaqen
                                                H'gar </a>
                                            </a>
                                        {% endif %}
                                    </h5>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div><br>
                <div class="card">
                    <div style="background-color: #31BBEE; color: white; " class="card-header">
                        Support Snippcode
                    </div>
                    <div class="card-body">
                        <p>Snippcode is for all, by all, of all. Thus, it needs each others help. </p>
                        <a href="#" class="btn btn-success">Help Snippcode</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
