{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-9">
                <br>
                <h3>Add Quick Snippet.</h3>
                <br>

                <form method="POST">{% csrf_token %}
                    {{ blog_form.as_p }}
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>

            </div>
            <div class="col">
                <br>
                <h3>Recent Snippets.</h3>
                <br>


                {% for blog in blogs %}
                    <div class="card w-100">
                        <div class="card-body" style="height: 75px">
                            <h5 class="card-title"><a style="font-size: 15px"
                                                      href="{% url 'blog:detail' pk=blog.id %}">{{ blog.title|truncatechars:30 }}</a><br>
                                {% if blog.author %}
                                    <a style="font-size: 12px">{{ blog.created_at|naturaltime }} by</a>
                                    <a href="{% url 'profile:profile' username=blog.author %}"
                                       style="font-size: 12px">
                                        {% if request.user == blog.author %} you {% else %} {{ blog.author }}{% endif %}
                                    </a>
                                {% else %}
                                    <a style="font-size: 12px">{{ blog.created_at|naturaltime }} by: Jaqen H'gar </a>
                                    </a>
                                {% endif %}
                            </h5>

                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>
{% endblock %}
