{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <h1>All Code Snippets.</h1>
                <br>
            </div>
        </div>

        {% for blog in blogs %}
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'blog:detail' pk=blog.id %}">{{ blog.title }}</a> | <a
                            {% if blog.author %} href="{% url 'profile:profile' username=blog.author %} {% endif %} "
                            style="font-size: 12px">by: {{ blog.author }}</a></h5>
                    <p class="card-text">{{ blog.body|safe }}</p>
                </div>
            </div>
        {% endfor %}
        {{ login_form }}
    </div>
{% endblock %}
