{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page_title }}</title>
    {% include 'base/css.html' %}
      <style>
          .navbar {
              background-color: #31BBEE;
              position: fixed;
              top: 0;
              width: 100%;
              z-index:1;
          }
          .container {
              padding: 16px;
              margin-top: 30px;
            }
      </style>

  </head>
  <body>

  {% include 'base/navbar.html' %}

  {% block content %}
  {% endblock %}

  {% include 'base/js.html' %}
  {% include 'base/footer.html' %}

  </body>
</html>